.project__gallery {
  margin-top: 120px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.gallery__title {
color:#D07A2D;
font-family: 'Roboto';
font-weight: bold;
font-size: 41px;
text-align: center;
margin-top: 120px;
}
.gallery__text {
font-family: 'Roboto';
font-size: 25px;
text-align: center;
margin-top: 25px;
}