

.header {
	//background: url('../../build/img/header-img.png');
	height: 100vh;
    background-size: cover;
    background-position: center center; 
   	background-repeat: no-repeat; /* Do not repeat the image */
 	padding-top: 150px;
 	//padding-left: 200px;
}

.header__inner {
	display: block;
	margin-left: 240px;
	text-align: center;
	//justify-content: center;
	max-width: 506px;
	height: 506px;
	border-radius: 50%;
	background-color: #fff;
	border: 10px solid $borderColor;
}
.header__logo {
  width: 39px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 16px;
}
.header__name {
font-family: 'Lato', sans-serif;
text-transform: uppercase;
font-weight: 700;
font-size: 35px;
color: $nameColor;
margin-bottom: 27px;
}
.header__phone {
  // width: 307px;
  // height: 37px;
  font-family: 'Roboto';
  font-size: 35px;
  font-weight: 300;
  text-align: center;
  color: #000000;
}
.header__title {
  //max-width: 417px;
  font-family: 'Roboto';
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: $titleColor;
  margin: 45px 0px 45px 0px;
  }
.header__sale {}

